<div class="flex">
  <div class="rounded-lg shadow-lg bg-transparent max-w-md">
    <article class="recipe flex grow">
      <a class="flex flex-col content-between" href="/recipe/{{id}}">
        <div class="flex">
          <img class="image-container justify-center" style="height:400px; width:400px;" src="{{image}}" alt="food" />
        </div>
        <div>
          <div class="text-gray-900 leading-tight p-2" style="width:400px;">
            <h1 class="text-2xl font-bold flex flex-wrap hover:underline text-black object-cover">{{title}}</h1>
            <div class="italic">
              {{summary}}
            </div>
          </div>
        </div>
      </a>
    </article>
  </div>
</div>