<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD
    <title>What's Cooking?</title>
=======
    <title> Whats Cooking</title>
>>>>>>> aa18e9a1c2bb3fc33b6c3560c74104a14e03b56d
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/output.css" />
<<<<<<< HEAD
<link rel="icon" type="image/x-icon" href="/icons/favicon.ico"/>
  </head>


      <header>
        <h1>
          <a href="/" class="text-blue-700 text-2xl text-bold">Home</a>
        </h1>
=======
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ms+Madi"
    />
  </head>
  <body>
    <div class="bg-hero">
      <header class="w-full">
        <h1 class="text-7xl">Whats Cooking??</h1>
>>>>>>> aa18e9a1c2bb3fc33b6c3560c74104a14e03b56d
        <nav>
          <a href="/" id="nav-a">Home</a>
          {{#if loggedIn}}
<<<<<<< HEAD
            <a href="/dashboard" class="text-blue-700 text-2xl text-bold">Dashboard</a>
            <button id="logout" class="text-2xl text-bold">Logout</button>
          {{else}}
          <h1>
            <a href="/login" class="text-2xl text-bold">Login</a>
            </h1>
          {{/if}}
        </nav>
        </header>
<body>
      <main>   
<h1 class="box-decoration-clone bg-gradient-to-r from-blue-700 to-red-700 text-white text-center rounded-full font-bold text-6xl shadow-2xl shadow-blue-700/50">
  What's Cooking?
</h1>
</main>
=======
            <a href="/dashboard" id="nav-a">Dashboard</a>
            <a id="logout" class="btn-no-style" id="nav-a">Logout</a>
          {{else}}
            <a href="/login" id="nav-a">Login</a>
          {{/if}}
        </nav>
      </header>

      <main>
>>>>>>> aa18e9a1c2bb3fc33b6c3560c74104a14e03b56d
        {{{body}}}
     </body>
      <footer>
       <h2 class="text-3xl font-bold text-white text-center bg-blue-700 border-8 border-blue-700 rounded-full shadow-2xl shadow-blue-700/50">
        Thanks for visiting!
        </h2>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
<<<<<<< HEAD
    <script src="/javascript/searchbar.js"></script> 
</html> 
=======
    <script src="/javascript/searchbar.js"></script>
  </body>
</html>
>>>>>>> aa18e9a1c2bb3fc33b6c3560c74104a14e03b56d
