<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> What's Cooking</title>
<<<<<<< HEAD
=======

>>>>>>> develop
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/output.css" />
<<<<<<< HEAD
=======

  </head>
>>>>>>> develop

  </head>
  <body>
    <div class="bg-hero">
      <header class="w-full">
<<<<<<< HEAD

=======
>>>>>>> develop
        <h1 class="text-3xl font-bold underline">
          <a href="/">Home</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>

      </header>
      <header>
        <h2 class="text-3xl font-bold underline">What's Cooking</h2>
      </header>

      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>