{{!This is the create recipe section. It is hidden until the user decides to create a new recipe}}
<section id="create-recipe" class="hide">

  <div class="mx-auto max-w-6xl py-20 px-12 lg:px-24 shadow-xl mb-24">
    <form class="new-recipe-form">
      <h2 class="text-2xl font-bold">Create New Recipe</h2>
      <div>
        <label for="recipe-title"></label>
        <input type="text" id="recipe-title" name="recipe-title" placeholder="Recipe Name"/>
      </div>

      <div>
        <input type="text" id="recipe-summary" name="recipe-summary" class="p-2 w-full"  placeholder="A brief summary for your recipe"/>
      </div>
      <div>
        <textarea type="text" class="p-2 w-full" id="recipe-instructions" name="recipe-instructions" placeholder="Write out your instructions here"></textarea>
      </div>
      <div>
        <textarea type="text"  class="p-2 w-full" id="recipe-ingredients" name="recipe-ingredients" placeholder="List Ingredients here"></textarea>
      </div>
      <div class="flex mb-2 justify-between">
        <div>
          <label for="recipe-cuisines">Choose A Cuisine</label>
      <select cuisine="recipe-cuisines" id="recipe-cuisines">
        <option value="American" selected="selected">American</option>
        <option value="French">Japanese</option>
        <option value="Italian">Italian</option>
        <option value="Mexican">Mexican</option>
        <option value="Chinese">Chinese</option>
        <option value="Turkish">Turkish</option>
        <option value="Thai">Thai</option>
        <option value="French">French</option>
        <option value="Greek">Greek</option>
        <option value="Arab">Arab</option>
        <option value="Brazilian">Brazilian</option>
      </select>
    </div>
        <div>
          <label for="recipe-type">Choose a Type</label>
          <select recipeType="recipe-type" id="recipe-type">
            <option value="Breakfast" selected="selected">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Main course">Main course</option>
            <option value="Dessert">Dessert</option>
            <option value="Beverage">Beverage</option>
            <option value="Side">Side</option>
            <option value="Salad">Salad</option>
            <option value="Soup">Soup</option>
          </select>
        </div>
        <div>
          <label for="recipe-serving">Servings</label>
          <input type="number" min="0" id="recipe-serving" name="recipe-serving" />
        </div>
      </div>

      <div class="field">
        <label class="label">Image Link (URL)</label>
        <div class="control">
          <input class="input" id="recipe-image" type="text" name="recipe-image" placeholder="http://....">
        </div>
      </div>
      <button type="submit" class="btn">Add New Recipe</button>
    </form>
  </div>
</section>

{{!This is the view your recipe section. It is shown until the user decides to create a new recipe or edit an existing
one}}
<section id="display-recipes">

  <button id="create-btn" type="submit" class="btn">Create New Recipe</button>
  <ol>
    <h2 class="text-2xl pt-5">Your Recipes</h2>
    <div class="flex">
      <div class="flex flex-wrap gap-4">
        {{#each recipes as |recipe|}}
        <li>
          {{> recipe-info recipe}}
          <div class="m-2">
            <button onclick="window.location.href='/dashboard/edit/{{recipe.id}}';" type="submit" class="btn">Edit Recipe</button>
          </div>
        </li>
        {{/each}}
      </div>
    </div>
  </ol>
</section>

<script src="/javascript/add-recipe.js"></script>
<script src="/javascript/edit-recipe.js"></script>