<section id="create-recipe" class="hide">

  <form class="new-recipe-form">
    <h2>Create New Recipe</h2>
    <div>
      <label for="recipe-title">Title</label>
      <input type="text" id="recipe-title" name="recipe-title" />
    </div>
    <div>
      <label for="recipe-instructions">Instructions</label>
      <input type="text" id="recipe-instructions" name="recipe-instructions" />
    </div>
    <div>
      <label for="recipe-ingredients">Ingredients</label>
      <input type="text" id="recipe-ingredients" name="recipe-ingredients" />
    </div>
    <div>
      <label for="recipe-cuisines">Cuisine</label>
      <input type="text" id="recipe-cuisines" name="recipe-cuisines" />
    </div>
    <div>
      <label for="recipe-serving">Servings</label>
      <input type="text" id="recipe-serving" name="recipe-serving" />
    </div>

    <div class="field">
        <label class="label">Image Link (URL)</label>
        <div class="control">
            <input class="input" id="recipe-image" type="text" name="recipe-image">
        </div>
    </div>

    <div>
      <label for="recipe-summary">Summary</label>
      <input type="text" id="recipe-summary" name="recipe-summary" />
    </div>
    <div>
      <label for="recipe-type">Type</label>
      <input type="text" id="recipe-type" name="recipe-type" />
    </div>
    <button type="add" class="btn">Add</button>
  </form>
</section>

<section id="display-recipes">
  <h2>Your Recipes</h2>
  <button id="create-btn" type="submit" class="btn">Create New Recipe</button>
  <ol>
    <div class="flex justify-center">
  <div class="rounded-lg shadow-lg bg-white max-w-md">
    {{#each recipes as |recipe|}}
    <li>
      {{> recipe-info recipe}}
      <div class="m-2">
      <a href="/dashboard/edit/{{recipe.id}}" class="edit-link leading-tight m-2"> Edit recipe</a>
      </div>
    </li>
    {{/each}}
    </div>
    </div>
  </ol>
</section>


<script src="/javascript/add-recipe.js"></script>