      {{!--add search bar here.  will need css and function added.--}}
      <input type="text" id="js-recipe-search" placeholder="Search our database..." title="Type in ingredients, cuisine, or recipe">
<button id="js-submit-recipe-search">Search</button>

<ol class="recipe-list flex flex-wrap -m-3 gap-4">

  {{#each recipes as |recipe|}}

    <li class="overflow-hidden rounded-lg shadow-lg flex">
      {{> recipe-info recipe }}
    </li>
    {{/each}}


</ol>