{{> recipe-info recipe}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments recipe.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}