* {
  box-sizing: border-box;
  --primary: #225ca3;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
}

body, html {
  height: 100%;
  background: #ededed;
  color: var(--grey);
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #225ca3;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: #3486eb;
}

header h1 {
  font-size: 1em;
}

header h2 {
  background-color: var(--primary);
  color: white;
  border: 1px solid #333;
  border-radius: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-inline: 2%;
  margin-left: 2%
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: 1px solid #333;
}

.post .title {
  background-color: black;
  opacity: .6;
  color: #7d7d7d;
  padding-right: .5%;
  padding-left: .5%;
}
.post .title span {
  font-size: 90%;
}
.post .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
  font-style: italic;
  background-color: black;
  color: #7d7d7d;
  padding-right: .5%;
  padding-left: .5%;
}

.post p {
  display: flex;
  padding-right: .5%;
  padding-left: .5%;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
  font-style: italic;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.hide {
  display: none;
}